<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Scholarship</title>
</head>
<body>
    <section class="section category" aria-label="category">
        <div class="container">

            <h1 class="h1 section-title">
                Internships and  <span class="span"> 
                 Placements</span>
            </h1>

            <p class="section-text">
                "Believe in your potential, work hard, and achieve your dreams."
            </p>

            <ul class="grid-list">

                <li>
                    <div class="category-card"
                        style="--color: 170, 75%, 41%">

                        <div class="card-icon">
                            <img
                                src="./assets/images/category-1.svg"
                                width="40" height="40"
                                loading="lazy"
                                alt="Online Degree Programs"
                                class="img">
                        </div>

                        <h3 class="h3">
                            <a href="./first.html"
                                class="card-title">First Year</a>
                        </h3>

                        <p class="card-text">
                            Find curated links to valuable
                            educational resources.
                        </p>

                        <span class="card-badge">12 Links</span>

                    </div>
                </li>

                <li>
                    <div class="category-card"
                        style="--color: 351, 83%, 61%">

                        <div class="card-icon">
                            <img
                                src="./assets/images/category-2.svg"
                                width="40" height="40"
                                loading="lazy"
                                alt="Non-Degree Programs"
                                class="img">
                        </div>

                        <h3 class="h3">
                            <a href="./second.html"
                                class="card-title">Second Year</a>
                        </h3>

                        <p class="card-text">
                            Access a variety of study notes to boost
                            your learning.
                        </p>

                        <span class="card-badge">9 Subjects</span>

                    </div>
                </li>

                <li>
                    <div class="category-card"
                        style="--color: 229, 75%, 58%">

                        <div class="card-icon">
                            <img
                                src="./assets/images/category-3.svg"
                                width="40" height="40"
                                loading="lazy"
                                alt="Off-Campus Programs"
                                class="img">
                        </div>

                        <h3 class="h3">
                            <a
                                href="./third.html"
                                class="card-title">Third Year</a>
                        </h3>

                        <p class="card-text">
                            Get tips and resources to ace your
                            interviews - ofcampus/oncampus.
                        </p>

                        <span class="card-badge">5 Resources</span>

                    </div>
                </li>

                <li>
                    <div class="category-card"
                        style="--color: 42, 94%, 55%">

                        <div class="card-icon">
                            <img
                                src="./assets/images/category-4.svg"
                                width="40" height="40"
                                loading="lazy"
                                alt="Hybrid Distance Programs"
                                class="img">
                        </div>

                        <h3 class="h3">
                            <a
                                href="./four.html"
                                class="card-title">Fourth Year</a>
                        </h3>

                        <p class="card-text">
                            Get tips to make resume for company
                            specific and cover letter.
                        </p>

                        <span class="card-badge">16 Courses</span>

                    </div>
                </li>

                <li>
                    <div class="category-card"
                        style="--color: 42, 94%, 55%">

                        <div class="card-icon">
                            <img
                                src="./assets/images/category-4.svg"
                                width="40" height="40"
                                loading="lazy"
                                alt="Hybrid Distance Programs"
                                class="img">
                        </div>

                        <h3 class="h3">
                            <a
                                href="./four.html"
                                class="card-title">Open Source Program</a>
                        </h3>

                        <p class="card-text">
                            Get tips to make resume for company
                            specific and cover letter.
                        </p>

                        <span class="card-badge">16 Courses</span>

                    </div>
                </li>

            </ul>
        </div>
    </section>

</body>
</html>