<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Useful Links</title>
    <link rel="stylesheet" href="links.css">
</head>
<body>
    <header>
        <h1>Useful Links</h1>
        <p>Find curated links to valuable educational resources</p>
    </header>

    <main class="grid-container">
        <!-- Programming Language -->
        <div class="category-card1 card">
            <h3>Programming Language</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="cpp-links">Python</button>
                <ol id="cpp-links" class="links-list hidden">
                    <a href="https://youtu.be/ERCMXc8x7mc?si=L1JICIlgmVdoxf6W"><li>Apna College</li></a>
                    <a href="https://youtu.be/UrsmFxEIp5k?si=ZlRsR1zShTyJ-y6x"><li>CodeWithHarry</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="java-links">C++</button>
                <ol id="java-links" class="links-list hidden">
                    <a href="https://youtu.be/EAR7De6Goz4?si=uPpvfE88W6jeJCv5"><li>Striver/Raj VikramAditya</li></a>
                    <a href="https://www.youtube.com/watch?v=WQoB2z67hvY&list=PLDzeHZWIZsTryvtXdMr6rPh4IDexB5NIA"><li>Love Babbar</li></a>
                    <a href="https://youtu.be/oOmbSpOzvYg?si=S3VrrGesolnGYiWU"><li>Jenny's Lecture</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="python-links">Java</button>
                <ol id="python-links" class="links-list hidden">
                <a href="https://youtu.be/yRpLlJmRo2w?si=VE7tT26tI6haGq9G"><li>Apna College</li></a>
                    <a href="https://youtu.be/4EP8YzcN0hQ?si=11CuFBtSSTfP3f4U"><li>Kunal Kushwaha</li></a>
                    <a href="https://youtu.be/ntLJmHOJ0ME?si=QIuMSiZbGzr4Mqmz"><li>CodeWithHarry</li></a>
                </ol>
            </div>
        </div>

        <!-- DSA -->
        <div class="category-card2 card">
            <h3>Data Structure & Algorithms</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="dsa-cpp-links">C++</button>
                <ol id="dsa-cpp-links" class="links-list hidden">
                    <a href="https://takeuforward.org/strivers-a2z-dsa-course/strivers-a2z-dsa-course-sheet-2/"><li>Raj VikramAditya ~ Striver</li></a>
                   <a href="https://www.youtube.com/watch?v=sNrLlmOIn-c&list=PLDzeHZWIZsTryvtXdMr6rPh4IDexB5NIA&index=9" ><li>Love Babbar</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="dsa-java-links">Java</button>
                <ol id="dsa-java-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=yRpLlJmRo2w&list=PLfqMhTWNBTe3LtFWcvwpqTkUSlB32kJop"><li>Apna College</li></a>
                    <a href="https://www.youtube.com/watch?v=rZ41y93P2Qo&list=PL9gnSGHSqcnr_DxHsP7AW9ftq0AtAyYqJ"><li>Kunal Kushwaha</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="dsa-python-links">Python</button>
                <ol id="dsa-python-links" class="links-list hidden">
                    <a href="https://takeuforward.org/strivers-a2z-dsa-course/strivers-a2z-dsa-course-sheet-2/"><li>Raj VikramAditya ~ Striver</li></a>
                    
                </ol>
            </div>
        </div>

        <!-- Web Development -->
        <div class="category-card3 card">
            <h3>Web Development</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="frontend-links">Frontend</button>
                <ol id="frontend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=l1EssrLxt7E&list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n"><li>Apna College</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="backend-links">Backend</button>
                <ol id="backend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=IymPq7ik29k&list=PLwGdqUZWnOp2Z3eFOgtOGvOWIk4e8Bsr_"><li>Thapa Technical</li></a>
                   
                </ol>
            </div>
        </div>

        <!-- CN Fundamentals -->
        <div class="category-card4 card">
            <h3>CN Fundamentals</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="figma-links">OOPs</button>
                <ol id="figma-links" class="links-list hidden">
                   <a href="https://www.youtube.com/watch?v=mlIUKyZIUUU"> <li>Apna College</li></a>
                   <a href="https://youtu.be/i_5pvt7ag7E?si=-GWCzpeIRPb3aPfx"> <li>Love Babbar</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="canva-links">DBMS</button>
                <ol id="canva-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=eYpXCdvKwEQ&list=PLDzeHZWIZsTpukecmA2p5rhHM14bl2dHU"><li>Love Babbar</li></a>
                    <a href="https://www.youtube.com/watch?v=kBdlM6hNDAE&list=PLxCzCOWd7aiFAN6I8CuViBuCdJgiOkT2Y"><li>Gate Smashers</li></a>
                   
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="wix-links">SQL</button>
                <ol id="wix-links" class="links-list hidden">
                    <a href="https://youtu.be/hlGoQC332VM?si=JjvLFsXxfkotkjJN"><li>Apna College</li></a>
                    <a href="https://www.youtube.com/watch?v=kBdlM6hNDAE&list=PLxCzCOWd7aiFAN6I8CuViBuCdJgiOkT2Y"><li>Gate Smashers</li></a>
                   
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="wix-links">Computer Networks</button>
                <ol id="wix-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="wix-links">Operating System</button>
                <ol id="wix-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>

            <div class="links-box">
                <button class="toggle-button" data-target="wix-links">System Design</button>
                <ol id="wix-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>

        </div>


        <!-- Web Designing -->
        <div class="category-card4 card">
            <h3>Designing - UI/UX</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="figma-links">Figma</button>
                <ol id="figma-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="canva-links">Canva</button>
                <ol id="canva-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="wix-links">Wix Studio</button>
                <ol id="wix-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
        </div>

        <!-- Version Control -->
        <div class="category-card5 card">
            <h3>Version Control: Git / Github</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="vc-frontend-links">Frontend</button>
                <ol id="vc-frontend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="vc-backend-links">Backend</button>
                <ol id="vc-backend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
        </div>

        <!-- AI and ML -->
        <div class="category-card6 card">
            <h3>AI and ML</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="ai-frontend-links">Frontend</button>
                <ol id="ai-frontend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="ai-backend-links">Backend</button>
                <ol id="ai-backend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
        </div>

        <!-- DevOps -->
        <div class="category-card7 card">
            <h3>DevOps</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="devops-frontend-links">Frontend</button>
                <ol id="devops-frontend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="devops-backend-links">Backend</button>
                <ol id="devops-backend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
        </div>

        <!-- Cloud Computing -->
        <div class="category-card8 card">
            <h3>Cloud Computing</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="kubernetes-links">Kubernetes</button>
                <ol id="kubernetes-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="docker-links">Docker</button>
                <ol id="docker-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
        </div>

        <!-- Data Analysis -->
        <div class="category-card9 card">
            <h3>Data Analysis</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="da-frontend-links">Frontend</button>
                <ol id="da-frontend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="da-backend-links">Backend</button>
                <ol id="da-backend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
        </div>

        <!-- Other Tools -->
        <div class="category-card10 card">
            <h3>Other Tools</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="vs-code-links">VS Code</button>
                <ol id="vs-code-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="other-tools-backend-links">Backend</button>
                <ol id="other-tools-backend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
        </div>
        <!-- Other Robotics -->
        <div class="category-card11 card">
            <h3>Robotics</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="vs-code-links">VS Code</button>
                <ol id="vs-code-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="other-tools-backend-links">Backend</button>
                <ol id="other-tools-backend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
        </div>
        <!-- Core Skills -->
        <div class="category-card12 card">
            <h3>Core Skills</h2>
            <div class="links-box">
                <button class="toggle-button" data-target="vs-code-links">VS Code</button>
                <ol id="vs-code-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
            <div class="links-box">
                <button class="toggle-button" data-target="other-tools-backend-links">Backend</button>
                <ol id="other-tools-backend-links" class="links-list hidden">
                    <a href="https://www.youtube.com/watch?v=VwN91x5i25g&list=PLBlnK6fEyqRgMCUAG0XRw78UA8qnv6jEx"><li>Neso Academy</li></a>
                    <a href="https://www.youtube.com/watch?v=JFF2vJaN0Cw&list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_"><li>Gate Smashers</li></a>
                </ol>
            </div>
        </div>
    </main>
    <script src="links.js"></script>
</body>
</html>
