<!DOCTYPE html>
<html>
<head>
	<title>Login/Sign-Up Form</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="img/wave.png">
	<div class="container">
		<div class="img">
			<img src="img/bg.svg">
		</div>
		<div class="login-content">
			<div class="form-container">
				<!-- Login Form -->
				<form id="loginForm">
					<img src="img/avatar.svg">
					<h2 class="title">Hello User!</h2>
					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>Username</h5>
							<input type="text" class="input">
						</div>
					</div>
					<div class="input-div pass">
						<div class="i"> 
							<i class="fas fa-lock"></i>
						</div>
						<div class="div">
							<h5>Password</h5>
							<input type="password" class="input">
						</div>
					</div>
					<a href="#" id="forgotPasswordLink">Forgot Password?</a>
					<input type="submit" class="btn" value="Login">
					<p>Don't have an account? <a href="#" id="showSignUp">Sign Up</a></p>
				</form>

				<!-- Sign-Up Form -->
				<form id="signupForm" style="display: none;">
					<img src="img/avatar.svg">
					<h2 class="title">Sign up</h2>
					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div class="div">
							<h5>Email</h5>
							<input type="text" class="input">
						</div>
					</div>
					<div class="input-div pass">
						<div class="i"> 
							<i class="fas fa-lock"></i>
						</div>
						<div class="div">
							<h5>Password</h5>
							<input type="password" class="input">
						</div>
					</div>
					<div class="input-div pass">
						<div class="i"> 
							<i class="fas fa-lock"></i>
						</div>
						<div class="div">
							<h5>Confirm Password</h5>
							<input type="password" class="input">
						</div>
					</div>
					<input type="submit" class="btn" value="Sign Up">
					<p>Already have an account? <a href="#" id="showLogin">Login</a></p>
				</form>

				<!-- Forgot Password Form -->
				<form id="forgotPasswordForm" style="display: none;">
					<img src="img/avatar.svg">
					<h2 class="title">Forgot Password</h2>
					<div class="input-div one">
						<div class="i">
							<i class="fas fa-envelope"></i>
						</div>
						<div class="div">
							<h5>Email</h5>
							<input type="text" class="input">
						</div>
					</div>
					<input type="submit" class="btn" value="Reset Password">
					<p><a href="#" id="backToLogin">Back to Login</a></p>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
